@model MainPageViewModel

<div class="block_standart intro first_slide" id="intro">
    <div class="container">
        <div class="intro_container">
            <div>
                <style>
                    .title::after{
                        content: "@Html.Raw(Model.MainPageData.YellowHint)";
                    }
                </style>
                <h1 class="title">@Html.Raw(@Model.MainPageData.Title)</h1>
            </div>
            <hr class="hr_intro" />
            @if (Model.MainPageData.ShowErrorMessage)
            {
                <p class="minecraft_font font_size_normal error">@Model.MainPageData.ErrorMessage</p>
            }
            @if (Model.MainPageData.ShowDownloadButton)
            {
                <a href="~/downloads/Vyacheslav's Mega Server.zip">
                    <button class="mc_button download_pack_link_button">
                        <span class="mc_button_title mc_form_font_standart">Скачать сборку</span>
                    </button>
                </a>
            }
            <h2 class="subtitle">IP-адрес сервера: @Model.MainPageData.ServerAddress</h2>
        </div>
    </div>
    <a href="#about">
        <div class="scroll_down">
            <div class="arrow_group">
                <div class="arrow_down"></div>
                <div class="arrow_down"></div>
                <div class="arrow_down"></div>
            </div>
            <div class="arrow_group">
                <div class="arrow_down"></div>
                <div class="arrow_down"></div>
                <div class="arrow_down"></div>
            </div>
            <div class="arrow_group">
                <div class="arrow_down"></div>
                <div class="arrow_down"></div>
                <div class="arrow_down"></div>
            </div>
        </div>
    </a>
</div>

<div class="block_standart about" id="about">
    <div class="container">
        <div class="section">
            <h2 class="minecraft_font section_header">О проекте</h2>
            <div class="minecraft_font font_size_normal white">@Html.Raw(Model.MainPageData.Description)</div>
            <p class="minecraft_font font_size_normal section_text">
                Присоединяйтесь к нам по адресу @Model.MainPageData.ServerAddress и станьте частью нашего мира!
            </p>
        </div>
    </div>
</div>

<div class="block_standart contacts" id="contacts">
    <div class="container">
        <div class="section">
            <h2 class="minecraft_font section_header">Контакты</h2>
            <div class="contacts_inner">
                <img class="contacts_image" src="~/img/Evray.png" />
                <div class="minecraft_font font_size_normal white">
                    <p>Вячеслав (Evray), создатель и администратор сервера:</p>
                    <ul>
                        @foreach (ContactLink link in Model.Creator.Links)
                        {
                            <li class="higher_li">@link.Description<a class="white" href="@Html.Raw(link.Url)">@link.Content</a></li>
                        } 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.PartnersData.Any(p => p.ShowPartner))
{
    <div class="block_standart partners">
        <div class="container">
            <div class="section">
                <h2 class="minecraft_font section_header">Наши партнёры</h2>
                <div class="horizontal_scroller">
                    <div class="horizontal_scroller_arrow_container" id="HScrollerToStart">
                        <div class="horizontal_scroller_arrow_left"></div>
                        <div class="horizontal_scroller_arrow_left"></div>
                    </div>
                    <div class="horizontal_scroller_arrow_container" id="HScrollerPrev">
                        <div class="horizontal_scroller_arrow_left"></div>
                    </div>

                    <div class="horizontal_scroller_content" id="HScrollerContent">
                        @foreach (Partner partner in Model.PartnersData.Where(p => p.ShowPartner))
                        {
                            <div class="partner_block">
                                <img class="partner_logo" src="~/@partner.LogoFullPath" />
                                <div class="partner_text_container">
                                    <div class="minecraft_font font_size_normal white wide_element">
                                        <h3 class="partner_title">@partner.Name</h3>
                                        <p class="partner_subtitle">@partner.Subtitle</p>
                                        <p>@partner.Description</p>
                                        <p>Контакты партнёра:</p>
                                        <ul>
                                            @foreach (PartnerLink link in partner.Links)
                                            {
                                                <li class="higher_li">@link.Description<a class="white" href="@Html.Raw(link.Url)">@link.Content</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="horizontal_scroller_arrow_container" id="HScrollerNext">
                        <div class="horizontal_scroller_arrow_right"></div>
                    </div>
                    <div class="horizontal_scroller_arrow_container" id="HScrollerToEnd">
                        <div class="horizontal_scroller_arrow_right"></div>
                        <div class="horizontal_scroller_arrow_right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    const content = document.getElementById("HScrollerContent");
    const first = document.getElementById("HScrollerToStart");
    const prev = document.getElementById("HScrollerPrev");
    const next = document.getElementById("HScrollerNext");
    const last = document.getElementById("HScrollerToEnd");

    function goToSlide(index) {
        content.scrollLeft = index * content.offsetWidth;
    }

    function getCurrentSlideIndex() {
        return Math.round(content.scrollLeft / content.offsetWidth);
    }

    first.addEventListener('click', () => {
        goToSlide(0);
    });

    next.addEventListener('click', () => {
        let currentSlideIndex = getCurrentSlideIndex();
        if (currentSlideIndex == content.children.length - 1) 
            return;
        goToSlide(currentSlideIndex + 1);
    });

    prev.addEventListener('click', () => {
        let currentSlideIndex = getCurrentSlideIndex();
        if (currentSlideIndex == 0)
            return;
        goToSlide(currentSlideIndex - 1);
    });

    last.addEventListener('click', () => {
        goToSlide(content.children.length - 1);
    });
</script>