@model MainPageViewModel

<div class="block_standart intro first_slide" id="intro">
    <div class="container">
        <div class="intro_container">
            <div class=title_container>
                <style>
                    .title::after{
                        content: "@Html.Raw(Model.YellowHint)";
                    }
                </style>
                <h1 class="title">@Html.Raw(@Model.Title)</h1>
            </div>
            <hr class="hr_intro" />
            @if (Model.ShowErrorMessage)
            {
                <p class="minecraft_font font_size_normal error">@Model.ErrorMessage</p>
            }
            @if (Model.ShowDownloadButton)
            {
                <a href="~/downloads/Vyacheslav's Mega Server.zip">
                    <button class="mc_button download_pack_link_button">
                        <span class="mc_button_title mc_form_font_standart">Скачать сборку</span>
                    </button>
                </a>
            }
            <h2 class="subtitle">IP-адрес сервера: @Model.ServerAddress</h2>
        </div>
    </div>
</div>

<div class="block_standart about" id="about">
    <div class="container">
        <div class="section">
            <h2 class="minecraft_font section_header">О проекте</h2>
            <div class="minecraft_font font_size_normal white">@Html.Raw(Model.Description)</div>
            <p class="minecraft_font font_size_normal section_text">
                Присоединяйтесь к нам по адресу @Model.ServerAddress и станьте частью нашего мира!
            </p>
        </div>
    </div>
</div>

<!--
<div class="block_standart report" id="report">
    <div class="container">
        <div class="section">
            <h2 class="minecraft_font section_header">Не работает сервер? Сообщите о сбоях:</h2>
            <form class="report_form" method="post">
                <label class="report_label">
                    Опишите вашу проблему <span class="counter">
                        (<span class="current">0</span>&nbsp;/
                        <span class="total">1000</span> символов)
                    </span>
                </label>
                <textarea class="report_textarea" name="reportText"
                          placeholder="Введите минимум 5 символов"></textarea>
                <button class="mc_button"><span class="mc_button_title">Отправить</span></button>
            </form>
        </div>
    </div>
</div>
-->

<div class="block_standart contacts" id="contacts">
    <div class="container">
        <div class="section">
            <h2 class="minecraft_font section_header">Контакты</h2>
            <div class="contacts_inner">
                <img class="contacts_image" src="~/img/Evray.png" />
                <div class="minecraft_font font_size_normal white">
                    <p>
                        Вячеслав (Evray), создатель и администратор сервера:
                        @foreach (Link link in Model.Creator.Links)
                        {
                        <br>
                            <p>@link.Description<a class="white" href="@Html.Raw(link.Url)">@link.Content</a></p>
                        } 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>